@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.App{
    font-family: "Poppins", sans-serif;
    
    .nav-link:hover {
        transform: scale(1.05);
        transition: all 0.7s;
        text-decoration: fw-bold;
    }
    
    h2 {
        font-size: 3rem;

        @include extraLarge {
            font-size: 2.5rem;
        }

        @include large {
            font-size: 2rem;
        }
    }

    .pc-1 {
        overflow-x: hidden;

        .card-img-top {
            transition: all 0.3s;

            &:hover {
                cursor: pointer;
                scale: 1.1;
                transition: all 0.3s;
            }
        }
    }

    .form-control::placeholder {
        opacity: 0.5;
    }

    .footer-icon {
        display: flex;
        gap: 1rem;
      }
      
      .footer-icon i {
        font-size: 2rem;
        color: #ffffff;
        transition: color 0.3s;
      
        &:hover {
          opacity:80%;
        }
      }

      

      .ft-2 ul {
        list-style: none;
        padding-left: 0;
      }

      .ft-2 ul a {
        text-decoration: none;
        color: #ffffff;

        &:hover {
            opacity:80%;
          }
      }

      .ft-3 i {
        padding-right: 0.5rem;
        font-size: 1rem;
      }

      .no-border-card {
        border: none;

        &:hover {
            transform: translateY(-5px);
            transition: all 0.5s;
          }
      }

      .line-clamp-3 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
        white-space: normal;
      }

      .line-clamp-2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        white-space: normal;
      }

      .navbar-shadow {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
      }

}

$primary:#712cf9;
$light:#ffffff;



@import  '~bootstrap/scss/bootstrap.scss';
