@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.App{
    font-family: "Poppins", sans-serif;

    .navbar-brand {
        font-family: "Bebas Neue", sans-serif;
    }
    
    .nav-link:hover {
        transform: scale(1.05);
        transition: all 0.7s;
        text-decoration: fw-bold;
    }
    
    h2 {
        font-size: 3rem;

        @include extraLarge {
            font-size: 2.5rem;
        }

        @include large {
            font-size: 2rem;
        }
    }

    .card {
        overflow-x: hidden;

        .card-img-top {
            transition: all 0.3s;

            &:hover {
                cursor: pointer;
                scale: 1.1;
                transition: all 0.3s;
            }
        }
    }

    .form-control::placeholder {
        opacity: 0.5;
    } 
}

$primary:#712cf9;
$light:#ffffff;



@import  '~bootstrap/scss/bootstrap.scss';
